# Data & dumps
/data
*.dump

# Credentials
.env
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/
env/

# Node
node_modules/

# macOS
.DS_Store

# Logs
*.log
